body {
    background: black;
    margin: 0;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 30px;
}

.score {
    border: 2px solid white;
    width: 80%;
    padding: 10px;
}

.table {
    background-image: url(https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705622400&semt=ais);
    border-radius: 50px;
    width: 80%;
    height: 500px;
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate3d(1, 0, 0, 30deg);
    transform-style: preserve-3d;

    .circle {
        border-radius: 50%;
        width: 100px;
        height: 2px;
        outline: thick solid #35170b;
        background: #35170b;
        color: #fff;
        transform-style: preserve-3d;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.taupe{
    display: none;
}

/* Ajoutez cette classe pour changer l'arrière-plan en rouge */
.red {
    display: block;
    border-radius: 50px;
    width: 100px;
    height: 180px;
    background-color: #ffba08;
    color: #000;
    animation: moveThroughRing 2s ease-in-out forwards;
}

.blue {
    display: block;
    border-radius: 50px;
    width: 100px;
    height: 180px;
    background-color: #08ff52;
    color: #000;
    animation: moveThroughRing 2s infinite linear;
}

.timer-text,
.score-text {
    color: white;
    font-size: 18px;
    margin: 0;
}

.game-over-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 50vh;
}

.final-score {
    margin: 0;
}

.timer {
    border: 1px solid white;
    overflow: hidden;
    width: 50px;
    border-radius: 50px;
    height: 300px;
    position: relative;
}

.timer-content {
    bottom: 0;
    position: absolute;
    height: 300px;
    width: 50px;
    background: red;
}

@keyframes moveThroughRing {
    0%, 100% {
        transform: rotate3d(-1,0,-1,1deg) translateY(150px);
        height: 0px;
    }

    50% {
        transform: rotate3d(-1,0,-1,1deg) translateY(-40px);
        height: 180px;
    }
}