body {
    background: linear-gradient(#33D0D9, #e0fdff);
    margin: 0;
    overflow: hidden;

}

#cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    pointer-events: none;
    transition: transform 0.1s;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    perspective: 500px;
    overflow: hidden;
}

.score {
    border: 2px solid white;
    width: 80%;
    padding: 10px;
    z-index: 1000;
}

.table {
    background-image: url(./static/decors/grass.webp);
    border-radius: 50% 50% 50px 50px;
    width: 80%;
    height: 600px;
    padding: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotateX(30deg);
    transform-style: preserve-3d;
    position: relative;
    cursor: none;

    .circle {
        border-radius: 50%;
        width: 100px;
        height: 2px;
        transform-style: preserve-3d;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.taupe {
    display: none;
    color: #000;
    animation: fadein 1s ease-in-out forwards;
    border-radius: 50px 50px 0px 0px;
    width: 80px;
    height: 100px;
    perspective: none;
}

.red {
    display: block;
    background-color: #b76830;
}

.blue {
    display: block;
    background-color: #ff6b01;
}

.fadeout{
    animation: fadeout 1s ease-in-out forwards;
}

.clicked{
    animation: clicked 1s ease-in-out forwards;
}

.timer-text,
.score-text {
    color: white;
    font-size: 18px;
    margin: 0;
}

.game-over-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 50vh;
}

.final-score {
    margin: 0;
}

.timer {
    border: 1px solid white;
    overflow: hidden;
    width: 50px;
    border-radius: 50px;
    height: 300px;
    position: relative;
}

.timer-content {
    bottom: 0;
    position: absolute;
    height: 300px;
    width: 50px;
    background: red;
}

@keyframes fadein {

    0%{
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(40px);
        height: 0px;
        display: none;
    }

    100% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(-40px);
        height: 100px;
        display: block;
    }
}

@keyframes fadeout {

    0% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(-40px);
        height: 100px;
        display: block;
    }

    100% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(40px);
        height: 0px;
        display: none;
    }
}

@keyframes clicked {

    0% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(-40px);
        height: 100px;
        display: block;
    }

    10% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(-10px);
        height: 100px;
        display: block;
    }

    100% {
        transform: rotate3d(-1, 0, -1, 1deg) rotateX(-30deg) translateY(40px);
        height: 0px;
        display: none;
    }
}

.rotate-animation {
    transform: rotate(45deg);
}

.button {
    background: rgb(255, 174, 0);
    color: black;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.score-points {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50px;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: bold;
    transition: opacity 1s ease;
}

.positive-points {
    background: rgb(47, 54, 51);
    color: rgb(0, 255, 132);
}

.negative-points {
    background: rgb(54, 47, 47);
    color: rgb(255, 79, 79);
}

.ground-img {
    width: 180px;
    position: absolute;
    top: -15px;
    transform: translateZ(13px);
    perspective: none;
    user-select: none;
}

.circle {
    &:nth-of-type(3n+1) .ground-img {
        transform: translateZ(13px) translateX(10px);
    }

    &:nth-of-type(3n+3) .ground-img {
        transform: translateZ(13px) translateX(-10px);
    }
}

.nuage_1 {
    position: absolute;
    width: 250px;
    right: 0;
    top: 0;
    animation: nuage_1 alternate infinite 100s;
    user-select: none;
}

@keyframes nuage_1 {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

.nuage_2 {
    position: absolute;
    width: 150px;
    transform: scaleX(-1);
    left: 0;
    top: 10px;
    animation: nuage_2 alternate infinite 70s;
    user-select: none;
}

@keyframes nuage_2 {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

.fleur {
    position: absolute;
    height: 100px;
    right:50px;
    top: 300px;
    perspective: none;
    transform: rotateX(-30deg) translateY(-100px);
    user-select: none;
}

.fleur_2 {
    position: absolute;
    height: 130px;
    left:45px;
    bottom:100px;
    perspective: none;
    transform: rotateX(-30deg) translateY(-130px) scaleX(-1);
    user-select: none;
}