body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

*{
    margin:0;
    box-sizing: border-box;
}

.scene {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    background-image: url(https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705622400&semt=ais);
    transform: rotate3d(1, 0, 0, 30deg);
    transform-style: preserve-3d;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 2px;
    outline: thick solid #35170b;
    background: #35170b;
    color: #fff;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    border-radius: 50px;
    width: 100px;
    height: 180px;
    background-color: #ffba08;
    color: #000;
    animation: moveThroughRing 2s infinite linear;
}

@keyframes moveThroughRing {
    0%, 100% {
        transform: rotate3d(-1,0,-1,1deg) translateY(150px);
    }

    50% {
        transform: rotate3d(-1,0,-1,1deg) translateY(-40px);
    }
}